<% if !weapon.abilities.empty? %>
	<h2><%= weapon.name %></h2>
	<% weapon.abilities.each do |ability| %>
		<p>
			<strong><%= ability.name %></strong>
			<% if !ability.desc.empty? %>
				- <%= ability.desc %>
			<% end %>
		</p>
	<% end %>
<% end %>