<% if !weapon.abilities.empty? %>
	<div id="ability_<%= weapon.id %>">
		<h2><%= weapon.name %></h2>
		<% weapon.abilities.each do |ability| %>
			<p>
				<strong><%= ability.name %></strong>
				<%= " - #{ability.desc}" if !ability.desc.empty? %>
			</p>
		<% end %>
	</div>
<% end %>