<table>
	<tr>
		<th>RNG</th>
		<th>ROF</th>
		<th>AOE</th>
		<th>POW</th>
	</tr>
	<tr>
		<td><%= weapon.rng %></td>
		<td><%= weapon.rof %></td>
		<td><%= weapon.aoe %></td>
		<td><%= weapon.pow %></td>
	</tr>
</table>