<h1>Unit Types</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
  </tr>
    
<% @unit_types.each do |unit_type| %>
  <tr>
    <td><%= unit_type.name %></td>
    <td><%= link_to 'Edit', edit_unit_type_path(unit_type) %></td>
    <td><%= link_to 'Delete', unit_type, :confirm => "Are you sure?", :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Unit', new_unit_type_path %>