<h1>Units</h1>

<h3>Warcasters</h3>
	
<%= render :partial => 'warcasters/list', :locals => { :units => @warcasters } %>

<h3>Warjacks</h3>

<%= render :partial => 'warjacks/list', :locals => { :units => @warjacks } %>

<h3>Troops</h3>

<%= render :partial => 'units/unit', :locals => { :units => @troops } %>

<br />

<%= link_to 'New Unit', new_unit_path %>