<div class="warjack_weapon">
	<div class="weapon_hand">
		<%= hand %>
	</div>
	<div class="weapon_stats">
		<%= render :partial => 'weapons/stats', :locals => { :model_str => model_str, :weapon => weapon, :x2 => false } %>
	</div>
</div>